<!DOCTYPE html>
<html>
<head></head>

<body>

  <form method="POST" action="/checkout">
    <label for="item">Item to Purchase:</label>
    <input type="text" id="item" name="item">
    <input type="submit" id="submit">
  </form>

</body>
</html>
